<div class="container body-content">

    @{
        // #1: Use a loop to display job results in a table.

        <h1>@ViewBag.title</h1>

        <table>
            @foreach (var job in ViewBag.jobs)
            {
            <tr>
                <th>Employer</th>
                <th>Position Type</th>
                <th>Skills</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>@ViewBag.employers</td>
            </tr>
            }
        </table>
    }


</div>